.community {
  background: transparent
    linear-gradient(0deg, #f1f6fd00 14%, #f1f6fd 30%, #f1f6fd 64%, #ffffff 100%)
    0% 0% no-repeat padding-box;
  text-align: center;
  padding-top: 7.9vh;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.4rem;
    margin: 9.1vh 12.2vw;

    @media only screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    &-box {
      padding: 5.3vh 4.5vw 2.9vh 2.7vw;
      height: 24.3vh;
      background-color: #fff;
      box-shadow: 14px 22px 104px #7f7f7f21;
      border-radius: 1.4rem;
      display: flex;
      gap: 3.6rem;
    }

    &-box-logo {
      width: 6.6rem;
      height: 6.6rem;
      border-radius: 2.4rem;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-box-text {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 2.2vh;
    }
  }
}

.box-1,
.box-4 {
  background-color: #287ff5;
  box-shadow: 0px 10px 44px #6dabff5c;
}

.box-2,
.box-5 {
  background-color: #f1464d;
  box-shadow: 0px 8px 44px #f8575e4d;
}

.box-3,
.box-6 {
  background-color: #ffb133;
  box-shadow: 0px 10px 44px #faba544d;
}
