$grey: #656464;
$grey-6: #f6f6f6;
$grey-7: #e7e7e7;
$grey-8: #686868;
$blue: #217bf4;
$dark-blue: #0a093d;
$dark-blue-1: #171648;
$dark-blue-2: #2f2c4a;
$light-blue-1: #e5f0fd; // header line
$black-dark: #20202d;
$black-light: #2b2b39;
